.bg-primary {
    background-color: #0e1333; // Puedes cambiar "blue" por el color que desees
}

.overflow-hidden {
    overflow: hidden;
}

#overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
     // Color oscuro de la pantalla
    z-index: 995; // Asegura que el overlay esté por encima de otros elementos
    pointer-events: none; // Deshabilita los eventos cuando el overlay no está activo
}

#navbar{
    z-index: 1000; // Asegura que el navbar esté por encima del overlay
}

#overlay.active {
    pointer-events: auto; // Habilitamos los eventos cuando el overlay está activo
    background-color: rgba(0, 0, 0, 0.5);
}

#navbar-hamburger {
    background-color: #fff;
    z-index: 1000; // Asegura que el acordeón esté por encima del overlay
}

.disabled{
    text-decoration: underline;
    color: #0e1333;
    
}